.more-button {
    width: 320px;
    height: 36px;
    background-color: #F9F9F9;
    border-radius: 6px;
    border: none;
    display: block;
    margin: 59px auto 97px;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
}

.more-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (max-width: 475px) {
    .more-button {
        width: 240px;
        margin: 60px auto 101px;
    }
}