.movies-card__image-wrapper {
    position: relative;
    overflow: hidden;
}

.movies-card__image-wrapper::before {
    content: "";
    display: block;
    padding-top: 56%; /* 16:9 соотношение */
}

.movies-card__image {
    /* width: 270px; */
    width: 100%;
    height: 100%;
    /* height: 151px; */
    object-fit: cover;
    vertical-align: bottom;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.movies-card__name {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    align-self: center;
}

.movies-card__info {
    padding-top: 10px;
}

.movies-card__field-container {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    padding-bottom: 25px;
    border-bottom: 1px solid #E8E8E8 ;
}

.movies-card__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.movies-card__button {
    background: #F9F9F9;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
}

.movies-card__button_type_saved {
    background-image: url("../../images/saved_button.svg");
}

.movies-card__button_type_unsaved {
    background-image: url("../../images/unsaved_button.svg");
}

.movies-card__button_type_delete {
    background-image: url("../../images/delete_icon.svg");
}

.movies-card__duration {
    color: #A0A0A0;
    font-size: 11px;
    font-weight: 400;
    display: block;
    padding-top: 6px;
}

@media screen and (max-width: 475px) {
    .movies-card__name {
        font-size: 12px;
    }

    .movies-card__duration {
        font-size: 10px;
    }

    .movies-card-list__container {
        row-gap: 34px;
    }
}