.auth-page__content {
    width: 396px;
    margin: 0 auto;
}

.auth-form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 380px;
    justify-content: space-between;
}

.auth-form__input {
    border: none;
    border-bottom: 1px solid #E8E8E8;
    background: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 11px;
    padding-left: 0;
    padding-top: 5px;
}

.auth-form__input::placeholder {
    opacity: 0;
}

.auth-form__input_error_active {
    color: #FF3055;
}

.auth-form__input:focus {
    border-bottom: 1px solid #3456F3;
    font-weight: 500;
}

.auth-form__labels-wrapper {
    display: flex;
    flex-direction: column;
}

.auth-form__label {
    font-size: 10px;
    font-weight: 400;
    color: #A0A0A0;
    height: 12px;
}

.auth-form__item-error {
    color: red;
    display: block;
    font-size: 10px;
    font-weight: 400;
    margin-top: 7px;
    min-height: 18px;
    opacity: 0;
}

.auth-form__item-error_active {
    opacity: 1;
}

.auth-form__button {
    background: #3456F3;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    width: 100%;
    height: 45px;
    border: none;
    margin-top: 125px;
}

.auth-form__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 475px) {
    .auth-form__button {
        font-size: 12px;
    }

    .auth-form {
        padding-top: 55px;
        height: 467px;
    }
}