.auth-content {
    width: 396px;
    margin: auto;
}

.auth-content__header {
    padding-top: 67px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

.auth-content__login-register {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding-top: 17px;
}

.auth-content__login-register-text {
    font-size: 14px;
    font-weight: 400;
    color: #A0A0A0;
    margin: 0;
}

.auth-content__login-link {
    font-size: 14px;
    font-weight: 400;
    color: #3456F3;
    text-decoration: none;
}

.auth-content__login-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 475px) {
    .auth-content__header {
        align-items: center;
        height: 165px;
        padding-top: 0px;
    }
    
    .auth-content {
       max-width: 260px;
       padding: 30px;
    }

    .auth-content__login-register-text {
        font-size: 12px;
    }

    .auth-content__login-link {
        font-size: 12px;
    }

    .auth-content__login-register {
        padding-top: 14px;
    }
    
}