.about-me {
    padding-top: 110px;
}

.about-me__content {
    padding-top: 66px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.about-me__text-wrapper {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me__title{
    font-size: 50px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -2px;
    margin: 0;
}

.about-me__subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    margin: 0;
    margin-top: 19px;
}

.about-me__description {
    margin: 0;
    margin-top: 26px;
}

.about-me__description-item {
    margin: 8px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.about-me__student-photo {
    max-width: 270px;
    height: 327px;
    object-fit: cover;
    border-radius: 10px 
}

.about-me__repository-link {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.about-me__repository-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .about-me {
        padding-top: 91px;
    }

    .about-me__content {
        gap: 50px;
    }

    .about-me__title {
        font-size: 40px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -1.6px;
    }

    .about-me__subtitle {
        font-size: 12px;
        line-height: 1.5;
        margin-top: 17px;
    }
    
    .about-me__description {
        margin-top: 19px;
    }

    .about-me__description-item {
        margin: 8px 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
    }

    .about-me__student-photo {
        max-width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 720px) {
    .about-me__content {
        flex-flow: column-reverse;
    }

    .about-me__student-photo {
        margin: 0 auto;
        max-width: 292px;
        height: 352px;
    }
}

@media screen and (max-width: 475px) {
    .about-me {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 14px;
        padding-right: 14px;
    }

    .about-me__content {
        padding-top: 62px;
        gap: 42px;
    }

    .about-me__title {
        font-size: 30px;
        letter-spacing: -1.2px;
    }

    .about-me__subtitle {
        font-size: 11px;
        line-height: 1.45;
        margin-top: 23px;
    }

    .about-me__description-item {
        margin: 8px 0;
        font-size: 11px;
        font-weight: 400;
        line-height: 1.45;
    }

    .about-me__repository-link {
        margin-top: 32px;
    }
    
}