.navigation {
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.navigation__menu-link:first-child {
    display: none;
}

.navigation__menu-link {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.navigation__menu-link:hover {
    opacity: 0.5;
    cursor: pointer;
}

.navigation__menu-link_active { 
    font-weight: 500;
}

.navigation__menu-link_theme_light {
    color: #000;
}

@media screen and (max-width:768px) {
    .navigation {
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 160px;
    }

    .navigation__menu-link:first-child {
        display: block;
    }

    .navigation__menu-link {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 9px;
    }

    .navigation__menu-link_active {
        border-bottom: 2px solid;
        padding-bottom: 4px;
    }
}